.landing-wrapper {
    margin: auto;
    width: 500px;
    max-width: 99%;
    background-color: black;
    padding: 25px;
    position: relative;
    animation-name: skulling;
    animation-duration: 1s;
}

@keyframes skulling {
    0% {top: -200px;}
    100% {top: 0px;}
}